.app-body{
  margin-top: 50px;
}

.loadingsymbol{
  padding-top: 400px;
}

.searchbar{
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.trendimages {
  width: 180px;
  height: 180px;
}

.textlink{
  text-decoration: none;
  color: #1665f7;
}

.footer{
  height: 100px;
  bottom: 0;
  width: 100%;
}

.intext-icons{
  padding-right: 10px;
}

/* Coin item */

.coin-container {
  display: flex;
  justify-content: center;
}
.coin-container :hover {
  background-color: #eeeeee;
}

.coin-row {
  display: flex;
  padding-left: 7px;
  padding-right: 7px;
  flex-direction: row;
  align-items: center;
  height: 80px;
  border-bottom: 1px solid #d7d7d7;
  width: 100%;
}

.coin {
  display: flex;
  align-items: center;
  padding-right: 24px;
  min-width: 300px;
}

.coin h1 {
  font-size: 16px;
  width: 150px;
}

.coin img {
  height: 30px;
  width: 30px;
  margin-right: 10px;
}

.coin-symbol {
  text-transform: uppercase;
}

.coin-data {
  display: flex;
  text-align: right;
  justify-content: space-between;
  width: 100%;
}

.coin-price {
  width: 110px;
}

.coin-volume {
  width: 155px;
}

.coin-marketcap {
  width: 230px;
}

.coin-percent {
  width: 100px;
  color: #1665f7;
}

.coin-link {
  width: 170px;
  text-decoration: none;
  color: #1665f7;
}
.coin-link:hover {
  font-weight: bold;
}

/* Colors */

.red {
  color: #f00606;
}

.green {
  color: #11d811;
}

.blue{
  color: #1665f7;
}

